Makefile.addons
Kconfig.addons
packaging/Makefile.add
Kconfig.format.add
build/
tmp/
.config
.config.old
.format
.format.old
rootpw
sshkey
__pycache__

# Local .deb override directory: drop .deb files here to install them
# into the image (overrides the apt version). See Makefile (local-pkgs-y).
local/*.deb
local/