[Unit]
Description=Set default password for user unipi

[Service]
Type=oneshot
ExecStart=/usr/lib/unipi/unipi-defpass
ExecStart=/bin/systemctl disable unipi-default-password

[Install]
WantedBy=multi-user.target
