[Unit]
Description=Set default password for user unipi
ConditionFirstBoot=true

[Service]
Type=oneshot
ExecStart=/usr/lib/unipi/unipi-defpass

[Install]
WantedBy=multi-user.target
