[Unit]
Description=Set default password for user unipi
After=local-fs.target
BindsTo=unipicheck.path
After=unipicheck.path
Before=unipicheck.service
Before=basic.target
#After=sysinit.target
Requires=sysinit.target
DefaultDependencies=No
ConditionVirtualization=No

[Service]
Type=oneshot
ExecStart=/usr/lib/unipi/unipi-defpass
ExecStart=/bin/systemctl disable unipi-default-password

[Install]
WantedBy=sysinit.target
