[Unit]
Description=Resizing or repartition primary device
DefaultDependencies=no
ConditionVirtualization=No

[Service]
Type=oneshot
ExecStart=/usr/lib/unipi/unipi-resize-partition.sh grow_last_partition

[Install]
WantedBy=local-fs.target
