[Unit]
Description=Invoke sshd-keygen.service
Before=sshd-keygen.service

[Service]
Type=oneshot
ExecStartPre=-/bin/bash -c "source /etc/ssh/check-mac 2>/dev/null || /bin/rm -f -v /etc/ssh/ssh_host_*_key*"
ExecStart=/bin/touch /run/regenerate-ssh

[Install]
WantedBy=multi-user.target

