CONFIG_OEMZULU=y
CONFIG_PRODUCT="acheating"
CONFIG_INSTALL_WIFI=y
CONFIG_INSTALL_LTE=y
CONFIG_INSTALL_WIREGUARD=y
CONFIG_ROOTKEY=y
CONFIG_ROOTKEY_FILE="sshkey"
CONFIG_UNIPI_PASSWD=y
CONFIG_UNIPI_PASSWD_FILE="rootpw"
CONFIG_UNIPI_ROOTKEY=y
CONFIG_UNIPI_ROOTKEY_FILE="sshkey"
