CONFIG_OEMZULU=y
CONFIG_PRODUCT="acheating"
CONFIG_UNIPI_FWUPDATE=y
CONFIG_INSTALL_WIFI=y
CONFIG_INSTALL_LTE=y
CONFIG_INSTALL_WIREGUARD=y
CONFIG_UNIPI_USERNAME="acheating"
CONFIG_UNIPI_PASSWD=y
CONFIG_UNIPI_PASSWD_FILE="passwd"
CONFIG_ACHEATING=y
CONFIG_IMAGE_FORMAT_EXT2=y
