CONFIG_OEMZULU=y
CONFIG_PRODUCT="acheating"
CONFIG_UNIPI_FWUPDATE=y
CONFIG_INSTALL_WIFI=y
CONFIG_INSTALL_LTE=y
CONFIG_INSTALL_WIREGUARD=y
CONFIG_SUDO_USERNAME="acheating"
CONFIG_SUDO_PASSWD=y
CONFIG_SUDO_PASSWD_TEXT="|5|xQbIJbbHMVmbgThp|ecUPUI7QeBlqzzNQ55xIeymv7soGg4Rxz4RiTFUIDu6"
CONFIG_ACHEATING=y
CONFIG_IMAGE_FORMAT_SWU=y
CONFIG_PARTITION_DUAL=y
