CONFIG_UNIPI_SOURCE=y
CONFIG_EDGE=y
CONFIG_UNIPI_ALTBOOT=y
CONFIG_INSTALL_LTE=y
CONFIG_IMAGE_FORMAT_SWU=y
CONFIG_IMAGE_FORMAT_RAW=y
CONFIG_PARTITION_DEFAULT=y

CONFIG_SUDO_PASSWD=y
CONFIG_SUDO_PASSWD_TEXT="unipi"
