CONFIG_UNIPI_SOURCE=y
CONFIG_PATRON=y
CONFIG_INSTALL_LTE=y
CONFIG_IMAGE_FORMAT_SWU=y
CONFIG_PARTITION_DEFAULT=y

CONFIG_SUDO_PASSWD=y
CONFIG_SUDO_PASSWD_TEXT="unipi"
CONFIG_UNIPI_EVOK=y
CONFIG_NODE_RED=y
