CONFIG_PATRON=y
CONFIG_UNIPI_FWUPDATE=y
CONFIG_UNIPI_EVOK=y
CONFIG_INSTALL_LTE=y
CONFIG_INSTALL_WIREGUARD=y
CONFIG_SUDO_PASSWD=y
CONFIG_SUDO_PASSWD_TEXT="|5|xQbIJbbHMVmbgThp|ecUPUI7QeBlqzzNQ55xIeymv7soGg4Rxz4RiTFUIDu6"
CONFIG_NODE_RED=y
CONFIG_IMAGE_FORMAT_SWU=y
CONFIG_PARTITION_DUAL=y
CONFIG_PARTITION_DUAL_ROOT_SIZE="3000M"
