CONFIG_DEBIAN_SUITE_TESTING=y
CONFIG_UNIPI_SOURCE=y
CONFIG_PATRON=y
CONFIG_UNIPI_ALTBOOT=y
CONFIG_INSTALL_LTE=y
CONFIG_INSTALL_WIREGUARD=y
CONFIG_IMAGE_FORMAT_SWU=y
CONFIG_IMAGE_FORMAT_RAW=y
CONFIG_PARTITION_SINGLE=y
