CONFIG_DEBIAN_SUITE_TESTING=y
CONFIG_INSTALL_LTE=y
CONFIG_INSTALL_WIREGUARD=y
CONFIG_SUDO_KEY=y
CONFIG_SUDO_KEY_FILE="sshkey"
CONFIG_MERVIS=y
# CONFIG_DISABLE_SSH is not set
CONFIG_IMAGE_FORMAT_SWU=y
CONFIG_IMAGE_FORMAT_RAW=y
CONFIG_PARTITION_SINGLE=y
