CONFIG_DEBIAN_SUITE_TESTING=y
CONFIG_ZULU=y
# CONFIG_UNIPI_DEFAULT_PASSWORD is not set
CONFIG_UNIPI_FWUPDATE=y
CONFIG_INSTALL_WIREGUARD=y
CONFIG_SUDO_KEY=y
CONFIG_SUDO_KEY_FILE="sshkey"
CONFIG_IMAGE_FORMAT_SWU=y
CONFIG_PARTITION_SINGLE=y
